<header>    
    <nav class="navbar navbar-light header-bg">
        <div class="container">
            <div class="navbar-brand">
                <img src="/assets/img/mag.png" width="100" height="100" class="jf-image d-inline-block align-middle" alt="">
                <span class="title">
                    jobFinder
                </span>  
            </div>     
            <div class="btn-group nav-button">
                <button type="button" class="btn btn-secondary btn-lg dropdown-toggle edit-nav-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Explore
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" [routerLink]="['/']">Search for a job</button>
                    <button class="dropdown-item" [routerLink]="['/jobs']">List All Jobs</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item" href="#">About This Project</button>
                </div>
            </div>       
        </div>
    </nav>
</header>

<div class="container">

    <div *ngIf="relatedJobs && relatedJobs.length == 0">
        <div class="jumbotron jumbotron-style">
            <h1 class="display-4">Sorry...</h1>
            <p class="lead">There are no jobs which fit this title and location. Please try another search.</p>
            <hr class="my-4">

            <button class="btn btn-info go-back" [routerLink]="['/']">Back to search</button>
            <button class="btn btn-secondary go-back" [routerLink]="['/jobs']">Back to All Jobs</button>
        </div>
    </div>
        
    <!-- <div *ngIf="relatedJobs">
        <div *ngFor="let x of relatedJobs let i = index" [attr.data-index]="i" class="job-style">
            <div class="job-upper-content">
                <div class="job-img">
                    <img class="logos" src="{{x.company_logo}}" height="150px" />
                </div>
                <div class="job-title-location">
                    <h2><a href="{{x.company_url}}">{{x.company}}</a></h2>
                    <h4>{{x.title}} | {{x.type}}</h4>
                    <h5>{{x.location}}</h5>
                </div>
            </div>
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-dark p-4">
                        <h5 class="text-white h4">Job Description:</h5>
                        <span class="text-muted">
                            {{x.description}}
                        </span>
                    </div>
                </div>
                <nav class="navbar navbar-dark bg-info">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
            </div>
            <a href="{{x.url}}">Apply Now!</a>
        </div>
    </div> -->
    <div *ngIf="relatedJobs">
        <div *ngFor="let x of relatedJobs let i = index" [attr.data-index]="i" class="job-style">
            <div class="job-upper-content">
                <div class="job-img">
                    <img class="logos" src="{{x.company_logo}}" height="150px" />
                </div>
                <div class="job-title-location">
                    <h2><a href="{{x.company_url}}">{{x.company}}</a></h2>
                    <h4>{{x.title}} | {{x.type}}</h4>
                    <h5>{{x.location}}</h5>
                </div>
            </div>
            <div class="pos-f-t">
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="expand-content">
                        <h5 class="text-white h4">Job Description:</h5>
                        <span class="text-muted">
                            {{x.description}}
                        </span>
                    </div>
                </div>
                
                <div class="more-apply-buttons">
                    <button class="btn btn-info more-apply" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" >
                        Learn More
                    </button>
    
                    <a class="btn btn-secondary more-apply" href="{{x.url}}">Apply Now!</a>
                </div>

            </div>
        </div>
    </div>

</div>