<header>    
    <nav class="navbar navbar-light header-bg">
        <div class="container">
            <div class="navbar-brand">
                <img src="/assets/img/mag.png" width="100" height="100" class="jf-image d-inline-block align-middle" alt="">
                <span class="title">
                    jobFinder
                </span>  
            </div>     
            <div class="btn-group nav-button">
                <button type="button" class="btn btn-secondary btn-lg dropdown-toggle edit-nav-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Explore
                </button>
                <div class="dropdown-menu">
                    <button class="dropdown-item" [routerLink]="['/']">Search for a job</button>
                    <button class="dropdown-item" [routerLink]="['/jobs']">List All Jobs</button>
                    <div class="dropdown-divider"></div>
                    <button class="dropdown-item disabled" [routerLink]="['/about']">About This Project</button>
                </div>
            </div>       
        </div>
    </nav>
</header>
<div class="container">
    <div class="jumbotron jumbotron-style">
        <h1 class="display-4">About</h1>
        <hr class="my-4">
        <p class="lead">This project was created by Adriel Ordonez as an assessment for his qualifications for the position of Full-Stack Engineer at RomBot. If you haven't yet realized, there is an easter egg on the logo :)</p>
    </div>
</div>
